@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #F9F5E7 0%,  #A7727D 50%, #F8EAD8 100%)
    no-repeat;
  font-family: "Open Sans", Arial;
}
