.temp-div {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.menu-details {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-details.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.menu-details-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.menu-details-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #dfdaf3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  width: 80%;
  flex-shrink: 0;
}

.menu-details-inner  h2{
  margin: 0.4rem;
}

.menu-details-name {
  font-size: 20px;
  color: #000000;
  
}


.menu-details-content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.menu-details-calories,
.menu-details-price {
  font-size: 16px;
  color: #7289DA;
}

.menu-details-bsp {
  font-size: 16px;
  color: #7289DA;
}

.menu-details-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.menu-details-image{
  width: 80%;
  max-width: 100%;
  height: auto;
  
  
  border-radius: 50%;
}
.menu-details-video {
  width: 95%;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-details-desc {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 8px;
}

.menu-details-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 8px;
  margin: auto 0;
  margin-bottom: 8px;
}

.menu-details-button {
  padding: 5px 10px;
  background-color: #7289DA;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-29,
.btn-29 *,
.btn-29 :after,
.btn-29 :before,
.btn-29:after,
.btn-29:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-29 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 500;
  
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  
}
.btn-29:disabled {
  cursor: default;
}
.btn-29:-moz-focusring {
  outline: auto;
}
.btn-29 svg {
  display: block;
  vertical-align: middle;
}
.btn-29 [hidden] {
  display: none;
}
.btn-29 {
  --tilt: 30px;
  border-width: 1px;
  display: grid;
  padding: 0.4rem 0.8rem;
  place-content: center;
}
.btn-29,
.btn-29 .text-container {
  overflow: hidden;
  position: relative;
}
.btn-29 .text-container {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-29 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}
.btn-29:hover .text {
  -webkit-animation: move-right-alternate 0.3s ease forwards;
  animation: move-right-alternate 0.3s ease forwards;
}
@-webkit-keyframes move-right-alternate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  51% {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes move-right-alternate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  51% {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
.btn-29:before {
  -webkit-animation: move-out 0.3s ease;
  animation: move-out 0.3s ease;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  width: calc(100% + var(--tilt));
}
.btn-29:hover:before {
  -webkit-animation: move-in 0.3s ease forwards;
  animation: move-in 0.3s ease forwards;
}
@-webkit-keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}


.btn-80,
.btn-80 *,
.btn-80 :after,
.btn-80 :before,
.btn-80:after,
.btn-80:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-80 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-80:disabled {
  cursor: default;
}
.btn-80:-moz-focusring {
  outline: auto;
}
.btn-80 svg {
  display: block;
  vertical-align: middle;
}
.btn-80 [hidden] {
  display: none;
}
.btn-80 {
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  position: relative;
  
}
.btn-80 span {
  font-weight: 500;
  mix-blend-mode: difference;
}
.btn-80:before {
  background: 
#fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.btn-80:hover:before {
  -webkit-animation: progress-bar 1.2s;
  animation: progress-bar 1.2s;
}
@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.quantity-buttons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.quantity-buttons .plate-icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url('../../assets/icons/plate.png'); /* Ensure the path to the plate icon is correct */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px;
}

.quantity-buttons .quantity-number {
  font-size: 1.1rem;
  color: #000000;
  position: absolute;
}

.quantity-buttons .quantity-edit {
  width: 45px;
  height: 30px;
  cursor: pointer;
  font-size: 1.2rem;
}
.quantity-edit{
  background-color: #E7ECEE;
  display: flex;
  justify-content: center;

  

}
.quantity-edit.increment{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.quantity-edit.decrement{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}



.swipe-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s;
  opacity: 0;
}

.swipe-arrow-left {
  left: 10px;
}

.swipe-arrow-right {
  right: 10px;
}

.swipe-arrow.visible {
  opacity: 1;
}

.item-combinations {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0;
}

.combinations-header {
  font-size: 20px;
  color: #2C2F33;
  margin: 2px;
  text-align: start;
}
.combinations-desc{
  font-size: 1rem;
  margin: 2px;
  margin-bottom: 0.4rem;

}

.combinations-list-container {
  display: flex;
  justify-content: center;
}

.combinations-list {
  display: flex;
  justify-content: flex-start; /* Changed from center to flex-start */
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Ensure smooth scrolling */
}

.combination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdaf3; /* Changed to white to match the background of the dishes */
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6); /* Increased inner shadow intensity */
  flex: 0 0 auto;
  width: 150px;
  margin: 0;
  scroll-snap-align: start; /* Make sure each item snaps to start */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow change */
}

.combination-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Increased outer shadow intensity on hover */
}

.combination-item-image {
  width: 80%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  border-radius: 50%;
}

.combination-item-name {
  font-size: 16px;
  color: #000000; /* Changed to black to match the text color */
  margin-top: 8px;
  margin-bottom: 8px; /* Added margin-bottom to separate from the container */
}

.combination-item-price {
  font-size: 14px;
  color: #000000;
  margin-top: 8px;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  color: #615c5cb0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen > img{
  width: 80px;
}
.scanme_logo >img{
  width:25px;
}
.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px; /* Added margin-top to separate dots from content */
  width: 100%; /* Ensure it takes up the full width */
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #717171;
  height: 14px; /* Make the active dot larger */
  width: 14px; /* Make the active dot larger */
}
